<!--The content below is only a placeholder and can be replaced.-->
<div class='search'>
  <!-- <mat-card>
    <mat-card-header>
      <div mat-card-avatar ></div>
      <mat-card-title>Smart Recommendation</mat-card-title> -->
      <!-- <mat-card-subtitle>90% of clients in your area buy this</mat-card-subtitle> -->
    <!-- </mat-card-header>
    middle
    <mat-card-content>
      <p>you should buy this</p>
    </mat-card-content> -->
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  <!-- </mat-card> -->
  <form [formGroup]="searchString">
    <div>
    <mat-form-field>
      <input matInput placeholder="Client ID" formControlName="searchString">
    </mat-form-field>
  
    <button class='search-btn' mat-raised-button (click)="search()">Find Recommendations</button>
  </div>
  </form>
  
</div>
<div class='results' *ngIf="searchResults">{{searchResults}}</div>

